<center>
<br><br>
<h1>가위바위보를 해봐요!</h1>

<br><br><br><br>

<a href="first"><%=image_tag@select_menu[0], width: 200 %></a>
<br><br><br>
<a href="second"><%=image_tag@select_menu[1], width: 200 %></a>
<br><br><br>
<a href="third"><%=image_tag@select_menu[2], width: 200 %></a>
</center>